<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="SCRM, 个人微信, 小程序, 尼诺科技, 客户管理, 营销获客, 产品推广, 门店数字化管理">
    <meta name="description" content="一款基于社交的客户管理系统">
    <meta name="Robots" content="NOINDEX,FOLLOW">
</head>
<body style="margin:0px">
<h1>403</h1>
<h3 class="font-bold">无权访问！</h3>

<div style="width: 100%; background-color: #444444; margin-bottom: 10px;">
    <a href="/" style="color: #ffffff; font-size: 80%;"> ← 返回首页</a>
</div>

<div style="width: 100%; background-color: #444444; margin-bottom: 10px;">
    <a href="/admin" style="color: #ffffff; font-size: 80%;"> ← 前往登录</a>
</div>

</body>

</html>